@charset "utf-8";
/* 여백 초기화 */
body,div,ul,li,dl,dd,dt,ol,h1,h2,h3,h4,h5,h6,input,ul,li,
fieldset,legend,p,select,table,th,td,tr,textarea,button,form,figure,figcaption{
    margin:0; padding:0; }
*{
    box-sizing: border-box;
}

/* a 링크 초기화 */
a {color: inherit; text-decoration: none; cursor: pointer;}

/* 폰트 초기화 */
body, input, textarea, select, button, table {
    font-family: 'NanumBarunGothic', sans-serif;  color: #fff; font-size: 15px; line-height: 1.5; overflow: visible;  outline: none;}

/* 폰트 스타일 초기화 */
em,address {font-style: normal;}

/* 블릿기호 초기화 */
ul,li,ol {list-style:none;}

/* 제목 태그 초기화 */
h1,h2,h3,h4,h5,h6 {font-size: 13px; font-weight: normal;}

/* 테두리 초기화 */
img,fieldset {border: 0; vertical-align: top;}

/* 버튼 초기화 */
button {cursor: pointer; letter-spacing: .5px; font-weight: 400; border: 0; text-transform: none; outline: none;}

/* 반응형 */
video, img {width: 100%;}

/* 가운데 영역 */
.container {min-width: 1100px; margin: 0 auto; /*background: rgba(0,0,0,0.6);*/}

/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ''; line-height: 0;}
.clearfix:after {clear: both;}

/* IR 효과 */
.ir_pm {display:block; overflow:hidden; font-size:0; line-height:0; text-indent:-9999px;} /* 의미있는 이미지의 대체 텍스트를 제공하는 경우(Phark Method) */
.ir_wa {display:block; overflow:hidden; position:relative; z-index:-1; width:100%; height: 100%;} /* 의미있는 이미지의 대체 텍스트로 이미지가 없어도 대체 텍스트를 보여주고자 할 때(WA IR) */
.ir_so {overflow: hidden; position:absolute; width:0; height:0; line-height:0; text-indent:-9999px;} /* 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때 */

/* margin, padding */
.mt10 {margin-top: 10px !important;}
.mt15 {margin-top: 15px !important;}
.mt20 {margin-top: 20px !important;}
.mt25 {margin-top: 25px !important;}
.mt30 {margin-top: 30px !important;}
.mt35 {margin-top: 35px !important;}
.mt40 {margin-top: 40px !important;}
.mt45 {margin-top: 45px !important;}
.mt50 {margin-top: 50px !important;}

.mb10 {margin-bottom: 10px !important;}
.mb15 {margin-bottom: 15px !important;}
.mb20 {margin-bottom: 20px !important;}
.mb25 {margin-bottom: 25px !important;}
.mb30 {margin-bottom: 30px !important;}
.mb35 {margin-bottom: 35px !important;}
.mb40 {margin-bottom: 40px !important;}
.mb45 {margin-bottom: 45px !important;}
.mb50 {margin-bottom: 50px !important;}

/* 스킵메뉴 */
#skip {position: relative;}
#skip a {position: absolute; left: 0; top: -50px; font-size: 14px; width: 100%; height: 50px;  color: #fff; text-align: center; background: #2a155a; display: block; line-height: 50px;}
#skip a:active,
#skip a:focus {top: 0; z-index: 9999;}

